*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.card {
    background-color: white;
    padding: 400px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
img {
    border-radius: 50px;
    object-fit: cover;
    margin-bottom: 10px;
}
h2{
    font-size: 25px;
    margin-bottom: 10px;
}
p{
    color: aqua;
    font-size: 15px;
    margin-bottom: 5px;
    .details p a{
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 5px;
}
.button a{
    text-decoration:none;
    background-color: lightblue;
    color: white;
    padding: 7px;
    border-radius: 5px;
}
.button{
    margin-top: 30px;
}
}

